* {
    box-sizing: border-box;
}

header {
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    margin-bottom: 20px;
}

body {
    color: darkslategray;
    margin-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p,
a,
li {
    line-height: 1.5em;
    font-size: 1.1em;
}